body {
  margin: 0 0 55px 0;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__link--active {
  color: #ff7700;
}

.nav__icon {
  font-size: 18px;

}

p {
  top: 0%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}

p.mode-status-text {
  position: absolute;
  font-size: 40px;
}

p.audio-data {
  position: relative;
  font-size: 15px;
  text-align: center;
  margin-bottom: auto;
}

.recordButton {
  color: #444444;
  top: 45%;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.voicesList {
  top: 45%;
}
.voicesList li {
  list-style-type: none;
  background-color: #c9c9c9;
  padding-top: 1px;
  border-radius: 20px;
  margin-bottom: 5px;
}

.center {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.recording {
  color: #ff7700;
}

.record-icon {
  font-size: 120px;
}
